<h1>Rejestracja</h1>
{% if blad %}<p><strong>{{ blad }}</strong></p>{% endif %}

<form action="{% url 'pizzadb.views.rejestruj' %}" method="post">
<table>
{% csrf_token %}
<tr><td>Nazwa użytkownika:</td><td><input type="text" name="nazwa" size="30" maxlength="60" /></td></tr>
<tr><td>Hasło:</td><td><input type="password" name="haslo" size="30" maxlength="60" /></td></tr>
<tr><td>Powtórz hasło:</td><td><input type="password" name="haslo2" size="30" maxlength="60" /></td></tr>
<tr><td>Imię:</td><td><input type="text" name="imie" size="30" maxlength="60" /></td></tr>
<tr><td>Nazwisko:</td><td><input type="text" name="nazwisko" size="30" maxlength="60" /></td></tr>
<tr><td>Adres:</td><td><input type="text" name="adres" size="30" maxlength="100" /></td></tr>
<tr><td>Numer telefonu:</td><td><input type="text", name="telefon", size="30" maxlength="40" /></td></tr>
<tr><td>Email:</td><td><input type="text" name="email" size="30" maxlength="60" /></td></tr>
</table>
<p> <input type="submit" value="Gotowe" /></p>
</form>
